
body{
    background-color: black;
}

.row div{
    width:20px;
    height: 20px;
    display: inline-block;
}

.brick{
    background-color: blue;
}
.coin{
    background: url(/advancedJS/Pacman/pacmanImg/pacmanCoin.gif);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.pacman{
    background: url(/advancedJS/Pacman/pacmanImg/pacmanPac.gif);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}